<!DOCTYPE html>
<html lang="<%- config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>

  <body>
    <div class="wrap">
      <header>
        <a href="<%- url_for() %>" class="logo-link">
          RayLiao
          <span data-letters="RayLiao"></span>
          <span data-letters="RayLiao"></span>
        </a>
        <%- partial('_partial/nav') %>
      </header>
      <main class="container">
        <%- body %>
      </main>
      <footer>
        <%- partial('_partial/paginator') %>
        <div class="copyright">
          <% var hexoURL = "https://hexo.io/"; var apolloURL =
          "https://github.com/rayliao/hexo-theme-apollo"; var currentDate = new
          Date(); var year = currentDate.getFullYear(); year = year ==
          theme.startyear ? year : theme.startyear + ' - ' + year; %>
          <p>
            © <%= year %> <a href="<%- config.url %>"><%= config.author%></a>,
            powered by <a href="<%- hexoURL %>" target="_blank">Hexo</a> and
            <a href="<%- apolloURL %>" target="_blank">hexo-theme-apollo</a>.
          </p>
        </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script>
      var gitalk = new Gitalk({
        clientID: '7ffad24fb09c5ece2adb',
        clientSecret: '5afbe61b6e3d6adadb5c94360aa7cddc8aa0beb7',
        repo: 'blog',
        owner: 'rayliao',
        admin: ['rayliao'],
		id: location.pathname.substr(6, 10),
        distractionFreeMode: false // Facebook-like distraction free mode
      })

      var container = 'gitalk-container'
      if (window.document.getElementById(container)) {
        gitalk.render(container)
      }
    </script>
  </body>
</html>
